body {
    background: #222;
}

#rps-head-jumbotron {
    background: white;
    color: black;
    border-style: solid;
    border-color: black;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 0;
    border-right-width: 0;
}

.rps-container-full-width {
    margin: 0 auto;
    width: 80%;
}

.rps-h1 {
    text-align: center;
}

.rps-symbol-img {
    border-style: solid;
    border-color: black;
    border-width: 10px;
}

.rps-btn {
    background: white;
    color: black;
    font-size: 24px;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    border-radius: 0;
    border-width: 5px;
    margin: 10px auto;
}

.rps-btn:hover {
    background: black;
    color: white;
    border-color: white;
}

.rps-text-input {
    background: white;
    color: black;
    font-size: 32px;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    border-radius: 0;
    border-width: 5px;
    width: 100%;
}