@model RockPaperScissorsASP.Models.Game
@{
    Layout = "~/Layouts/_BasicLayout.cshtml";
}

<div id="rps-main-container" class="container">
    <div class="row">
        <div class="col-md-4">
            <div id="rps-rock-symbol" class="rps-symbol-icon-container">
                <span class="fa fa-hand-rock-o rps-symbol-icon"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div id="rps-paper-symbol" class="rps-symbol-icon-container">
                <span class="fa fa-hand-paper-o rps-symbol-icon"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div id="rps-scissors-symbol" class="rps-symbol-icon-container">
                <span class="fa fa-hand-scissors-o rps-symbol-icon"></span>
            </div>
        </div>
    </div>
</div>

<script>
    @{
        var id = Model != null ? Model.Id : -1;
    }

    var gameId = "@id";

    // jQuery variables
    $headerSubtitle = $("#rps-header-subtitle");
    $mainContainer = $("#rps-main-container");

    function askForName(gId, symbol, requestDoneCallback) {
        var requestUrl = "/Game/AskName/";
        var request = $.ajax({
            method: "POST",
            url: requestUrl,
            data: { gameId: gId, chosenSymbol: symbol }
        });

        request.done(function(msg) {
            $mainContainer.html(msg);

            $headerSubtitle.fadeOut(500, function () {
                $mainContainer.fadeIn(500);
                
                $headerSubtitle.html("ENTER YOUR NAME");
                $headerSubtitle.fadeIn(500, function() {
                    smoothScrollToElement($headerSubtitle);
                });

                //requestDoneCallback();
            });
        });
    }

    function smoothScrollToTop(continueWith) {
        // smooth scrolling to an element:
        $("html, body").animate({
            scrollTop: $("#rps-body").offset().top
        },
        500,
        continueWith);
    }

    function submitName(gId, playerName) {
        var requestUrl = "/Game/Submit/";
        var request = $.ajax({
            method: "POST",
            url: requestUrl,
            data: { id: gId, name: playerName }
        });

        request.done(function (msg) {
            $mainContainer.html(msg);

            $headerSubtitle.fadeOut(500, function() {
                $mainContainer.fadeIn(500);

                $headerSubtitle.html("GAME CREATED");
                $headerSubtitle.fadeIn(500, function() {
                    smoothScrollToElement($headerSubtitle);
                });
            });
        });
    }

    function symbolClickHandler(symbolId) {
        smoothScrollToElement($("html"), function() {
            $mainContainer.fadeOut(500);
            $headerSubtitle.fadeOut(500, function() {
                $headerSubtitle.html("SENDING SYMBOL");
                $headerSubtitle.fadeIn(500, function() {
                    askForName(gameId, symbolId);
                });
            });
        });
    }

    $(document).ready(function () {
        $headerSubtitle.html("CHOOSE YOUR SHAPE");

        $headerSubtitle.css("opacity", "0");
        $mainContainer.css("opacity", "0");

        $headerSubtitle.animate({
            "opacity": "1"
        }, 500);
        $mainContainer.animate({
            "opacity": "1"
        }, 500);

        //$headerSubtitle.fadeIn(500);
        //$mainContainer.fadeIn(500);

        $("#rps-rock-symbol").click(function () {
            symbolClickHandler(0);
        });

        $("#rps-paper-symbol").click(function () {
            symbolClickHandler(1);
        });

        $("#rps-scissors-symbol").click(function () {
            symbolClickHandler(2);
        });
    });
</script>