@model RockPaperScissorsASP.Models.Game
@{
    Layout = "~/Layouts/_BasicLayout.cshtml";
}

<div id="rps-body-container">
    <div id="rps-head-jumbotron" class="jumbotron">
        <h1 id="rps-main-header" class="rps-h1 rps-bold">Choose your shape</h1>
        @if (Model != null)
        {
            <p>vs @Model.Player1.Name</p>
        }
    </div>

    <div id="rps-main-container">
        <div class="container-fluid">
            <div class="row">
                <div class="rps-container-full-width">
                    <div class="col-md-4 col-sm-6">
                        <a><img src="~/Images/rock.png" id="rps-rock-symbol" class="img-responsive rps-symbol-img"/></a>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <a><img src="~/Images/paper.png" id="rps-paper-symbol" class="img-responsive rps-symbol-img"/></a>
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-4">
                        <a><img src="~/Images/scissors.png" id="rps-scissors-symbol" class="img-responsive rps-symbol-img"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    @{
        var id = Model != null ? Model.Id : -1;
    }

    var gameId = "@id";

    $(document).ready(function() {
        $("#rps-head-jumbotron").css("opacity", "0");
        $(".rps-symbol-img").css("opacity", "0");
        setTimeout(displayHeadJumbotron, 250);

        //$(".rps-symbol-img").mouseenter(function() {
        //    $(this).animate({
        //        "border-radius": "50px"
        //    }, 250);
        //});

        //$(".rps-symbol-img").mouseleave(function() {
        //    $(this).css("border-radius", 0);
        //});

        $("#rps-rock-symbol").click(function () {
            askForName(gameId, 0);
        });

        $("#rps-paper-symbol").click(function () {
            askForName(gameId, 1);
        });

        $("#rps-scissors-symbol").click(function () {
            askForName(gameId, 2);
        });
    });

    function displayHeadJumbotron() {
        $("#rps-head-jumbotron").animate(
            { "opacity": "1" },
            1000,
            function () {
                displaySymbols();
            }
        );
    }

    function displaySymbols() {
        $(".rps-symbol-img").animate(
            { "opacity": "1" },
            1000
        );
    }

    function askForName(gId, symbol) {
        $("#rps-main-container").fadeOut(500);

        var requestUrl = "/Game/AskName/";
        var request = $.ajax({
            method: "POST",
            url: requestUrl,
            data: { gameId: gId, chosenSymbol: symbol }
        });

        request.done(function(msg) {
            $("#rps-main-header").fadeOut(500);
            setTimeout(function () {
                $("#rps-main-header").html("Enter your name");
            }, 500);
            $("#rps-main-header").fadeIn(500);

            setTimeout(function () {
                $("#rps-main-container").html(msg).fadeIn(500);
            }, 500);
        });
    }

    function submitName(gId, playerName) {
        $("#rps-main-container").fadeOut(500);

        $("#rps-main-header").fadeOut(500, function() {
            $(this).html("Creating game");
            $(this).fadeIn(500);
        });


        var requestUrl = "/Game/Submit/";
        var request = $.ajax({
            method: "POST",
            url: requestUrl,
            data: { id: gId, name: playerName }
        });

        request.done(function(msg) {
            //if (gId === -1) { // game is new
                $("#rps-main-header").fadeOut(500);
                setTimeout(function() {
                    $("#rps-main-header").html("Game created");
                }, 500);
                $("#rps-main-header").fadeIn(500);

                setTimeout(function() {
                    $("#rps-main-container").html(msg).fadeIn(500);
                }, 500);
            //} else {
                
            //}
        });
    }
</script>